.footer {
  /* position: absolute; */
  height: 8vh;
  bottom: 0%;
  padding: 5px;
  width: 100%;
}

#btn1 {
  display: inline-block;
  background-color: blue;
}
#btn2 {
  display: inline-block;
  background-color: blue;
  margin-right: 43%;
}
#btn3 {
  display: inline-block;
  background-color: blue;
}
#btn4 {
  display: inline-block;
  background-color: blue;
  margin-right: 19%;
}
#btn5 {
  display: inline-block;
  background-color: green;
  margin-right: 0%;
}
