.header {
<<<<<<< HEAD
    width: wrap;
<<<<<<< HEAD
=======
=======
    width: 100%;
>>>>>>> c6e7785128d95e2ad92db5fb62908b459cd85ff4
>>>>>>> 19d5a9c8cb9dd9a56efc03dd007d59d8c00c494a
    height: 15vh;
}

#test-name {
    float: left;
}

#time-left {
    margin-right: 10px;
    float: right;
}

